@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* HOMEPAGE */
#app{
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
}

#app>header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2rem 0;
    font-size: 2rem;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5rem 10rem;
}

#gallery>.day-project{
    width: 20%;
    padding: 1.2rem;
    background-color: #0D0D0D;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #222;
    color: #fff;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#gallery>.day-project img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 5px;
}

#gallery>.day-project h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#app>footer{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app>footer>p>a, #app>footer>p>a:visited {
    color: #fff;
    text-decoration: none;
}

#app>footer>p>a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    #gallery {
        padding: 3rem 5rem;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    #gallery>.day-project {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    #gallery {
        padding: 2rem;
        gap: 1rem;
    }
    #gallery>.day-project {
        width: 80%;
    }
}



/* DAY 1 */
#day1 {
    width: 100%;
    background-color: #000000;
}

#day1>header {
    width: 100%;
    color: #fff;
    height: 100vh;
}

#day1>header>.video-container {
    width: 100%;
    height: 100%;
}
#day1>header>.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#day1>header>h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 16rem;
    z-index: 1;
    line-height: 80%;
}

#day1>main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 10rem;
    gap: 2rem;
    color: #fff;
}

#day1>main>.text-container {
    text-align: left;
    color: #fff;
    font-size: 2rem;
    font-style: italic;
}

#day1>main>.text-container>a, #day1>main>.text-container>a:visited{
    font-style: normal;
    color: #fff;
    text-decoration: none;
}

#day1>main>.text-container>a:hover {
    text-decoration: underline;
}

#day1>footer{
    width: 100%;
    height: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#day1>footer>p>a, #day1>footer>p>a:visited, #day1>footer>a, #day1>footer>a:visited {
    color: #fff;
    text-decoration: none;
}

#day1>footer>p>a:hover, #day1>footer>a:hover {
    text-decoration: underline;
}

.mobile-only {
    display: none;
}

@media (max-width: 1200px) {
    #day1>main {
        padding: 3rem 5rem;
    }
    #day1>header>h1 {
        font-size: 12rem;
    }
}

@media (max-width: 900px) {
    #day1>main {
        padding: 3rem;
    }
    #day1>header>h1 {
        font-size: 10rem;
    }
    #day1>main>.text-container {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    #day1>main {
        flex-direction: column;
        padding: 2rem;
    }
    #day1>main>.text-container {
        font-size: 1.5rem;
        text-align: center;
    }
    #day1>header>h1 {
        font-size: 8rem;
        bottom: 5px;
        left: 5px;
    }
    .pc-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
}

@media (max-width: 500px) {
    #day1>header>h1 {
        font-size: 6rem;
    }
    #day1>main>.text-container {
        font-size: 1.2rem;
    }
}

/* DAY 2 */
#day2 {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background: #f5f5f5;
}
#day2>canvas {
    border: 1px solid #333;
    margin-top: 15px;
}
#day2>.controls {
    margin: 10px 0;
}